/* Add this to your main CSS file or a CSS module */
/* General Styles */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #441313;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


/* Game Info Styles */
.game-info {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blood-level-bar-container {
    width: 100%;
    max-width: 600px;
    height: 60px;
    background-color: #e0e0e0;
    border-radius: 15px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.blood-level-bar-container h2 {
    color: #333; /* Set your desired text color here */
    margin-bottom: 10px; /* Adjust margin as needed */
}


.blood-level-bar {
    height: 100%;
    background-color: red;
    width: 0%;
    border-radius: 15px;
    transition: width 0.5s ease;
}

.attack-form {
    margin: 20px 0;
}

.attack-form label {
    margin-right: 10px;
}

.attack-form input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.attack-form button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.attack-form button:hover {
    background-color: #0056b3;
}



/* Participants Styles */
.participants {
    margin-top: 20px;
}

.participants h4 {
    margin-bottom: 10px;
}

.participants ul {
    list-style-type: none;
    padding: 0;
}

.participants li {
    margin-bottom: 5px;
}

.npc-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    display: block; /* Ensure the image is displayed as a block element */
    margin: 10px 0;
}

.home-button {
    font-family: 'Quicksand', serif;
    text-decoration: none;
    color: #d7dce7; /* Light text */
    margin: 0 10px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #c3073f; /* Red border for links */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #441313; /* Red background on hover */
}

.message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}