/* Add this to your main CSS file or a CSS module */
/* General Styles */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #441313;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


/* Game Info Styles */
.game-info-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between; /* Space items to allow button to stay at the top */
    align-items: center;
    flex-direction: row;
}

.game-info {
    height: 100vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dark-red {
    background-color: #500217;
}

.dark-green {
    background-color: #143602;
}

.game-info button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.blood-level-bar-container {
    width: 100%;
    max-width: 600px;
    height: 60px;
    background-color: #e0e0e0;
    border-radius: 15px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.blood-level-bar-container h2 {
    color: #333; /* Set your desired text color here */
    margin-bottom: 10px; /* Adjust margin as needed */
}


.blood-level-bar {
    height: 100%;
    background-color: red;
    width: 0%;
    border-radius: 15px;
    transition: width 0.5s ease;
}

.attack-form {
    margin: 20px 0;
}

.attack-form label {
    margin-right: 10px;
}

.attack-form input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.attack-form button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.attack-form button:hover {
    background-color: #0056b3;
}


/* Participants Styles */
.participants {
    margin-top: 20px;
}

.participants h4 {
    margin-bottom: 10px;
}

.participants ul {
    list-style-type: none;
    padding: 0;
}

.participants li {
    margin-bottom: 5px;
}

.npc-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    display: block; /* Ensure the image is displayed as a block element */
    margin: 10px 0;
}

.home-button {
    font-family: 'Quicksand', serif;
    text-decoration: none;
    color: #d7dce7; /* Light text */
    margin: 0 10px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #c3073f; /* Red border for links */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #441313; /* Red background on hover */
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.message {
    position: fixed; /* Fixed position to stay centered on screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    color: rgba(0, 255, 0, 0.7); /* Transparent green */
    font-weight: bold;
    font-size: 4rem; /* Ultra-large text */
    z-index: 1000; /* Ensure it's above other elements */
    pointer-events: none; /* So it doesn't interfere with form interaction */
    opacity: 1;
    animation: fadeOut 0.5s forwards 0.5s;
}

.color-bar {
    height: 20px;
    margin: 5px 0;
    border-radius: 5px;
}


.leaderboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.leaderboard-container panel {
    max-height: 50%;
    overflow: auto;
}

.leaderboard-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: flex-start; /* Align items on the left */
}

.starred-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 70%;
    margin-bottom: 20px;
    max-width: 80vw;
    min-width: 30vw;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%
}


.starred-player img {
    height: 70%;
}

.starred-color-bar {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 10px;
    height: 10%;
}

.starred-color-bar-blood {
    background-color: red;
    height: 100%;
    border-radius: 10px;
}

.attack-form-container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attack-form-container img{
    height: 10%;
}