/* General Styles */
/* Summary Container */
.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; /* Fixed height for the summary container */
    padding: 20px;
    background-color: #1c1717;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.summary {
    display: flex; /* Use flexbox to center the button */
    justify-content: center; /* Center horizontally */
    padding-top: 50px; /* Adjust this value to set the distance from the top */
    width: 50%;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

.summary ul {
    list-style-type: none;
    padding: 0;
}

.summary li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.summary li:last-child {
    border-bottom: none;
}

.summary .participants li {
    color: #007bff;
}

/*.summary-container button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-top: 20px;*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    text-align: center;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.summary-container button:hover {*/
/*    background-color: #0056b3;*/
/*}*/
