/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure footer is at the bottom */
    align-items: center;
    background-color: #1c1717; /* Dark background to match body */
    color: #e6e8f0; /* Light text */
    flex: 1; /* Take up the remaining space */
    width: 100vw;
    height: 100vh;
}

nav {
    margin-top: 10px;
}

.homepage_links {
    text-decoration: none;
    color: #f0e6ef; /* Light text */
    margin: 0 10px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #c3073f; /* Red border for links */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.homepage_links:hover {
    background-color: #c3073f; /* Red background on hover */
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 20px;
    background-color: #441313; /* Dark background */
    color: #f0e6ef; /* Light text */
    height: 50%;
    width: 50%;
    flex: 1;
}

main h2 {
    color: #f0e6ef; /* Light text */
    font-size: 3em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
}

