.countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    font-weight: bold;
    color: #359803;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeOut 0.5s 0.5s forwards; /* Add a 1 second delay before starting the fadeOut */
}

.countdown.hidden {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
