/*body {*/
/*  margin: 0;*/
/*  font-family: 'Quicksand', serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;*/
/*}*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Quicksand', serif;
    background-color: #1c1717;
}

h1 {
    color: blue; /* Example style */

}

/* Buttons*/
:root {
    --button-font-size: 1em;
    --button-padding: 10px 20px;
}

button {
    font-family: 'Quicksand', serif;
    text-decoration: none;
    color: #d7dce7; /* Light text */
    margin: 0 10px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #c3073f; /* Red border for links */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #441313; /* Red background on hover */
}

/* Hover state */
button:hover {
    background-color: #c3073f; /* Red background on hover */
    color: #fff;
}

/* Active state */
button:active {
    background-color: #004494; /* Even darker background on active */
    transform: scale(0.98); /* Slightly scale down on click */
}

/* Disabled state */
button:disabled {
    background-color: #a7a8ab; /* Gray background for disabled button */
    cursor: not-allowed; /* Change cursor for disabled button */
}

/* Large button size */
.button-large {
    font-size: large;
    padding: 10px 20px;
}

/* Small button size */
.button-small {
    font-size: 0.75em;
    padding: 5px 10px;
}

footer {
    padding: 10px 0;
    background-color: #1c1717; /* Dark background for footer */
    color: #f0e6ef; /* Light text for footer */
    font-size: 0.9em;
    border-top: 2px solid #c3073f; /* Red border for footer */
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px; /* Position footer 10px from the bottom */
}
